@keyframes rainbow {
    0% { transform: scale(1); }
    50% { transform: scale(.9); }
    100% { transform: scale(1); }
}
@keyframes rotate {
    0% { transform: rotate(0); }
    /* 50% { transform: rotate(180deg); } */
    100% { transform: rotate(-360deg); }
}

.main {
    font-family: 'PingFang-SC-Regular';
    width: 100%;
    height: 100vh;
    background: url('../img/faceUI/img_bg_ssgw@2x.png') no-repeat;
    background-size: 100%;
    color: #79F8FF;
    text-align: center;
}
/* 背景 */
.bg-card {
    position: absolute;
    top: .5rem;
    width: 100%;
    height: 14.98rem;
    background: url('../img/faceUI/img_ssgw_bg_k.png') no-repeat;
    background-size: 100%;
}
.bg-red {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.972rem;
    background: url('../img/faceUI/img_ssgw_ding.png') no-repeat;
    background-size: 100%;
}
.bg-line-lf {
    position: absolute;
    top: 2.65rem;
    left: 1.4rem;
    width: 1.166rem;
    height: 0.092rem;
    background: url('../img/faceUI/icon_ssgw_zuo.png') no-repeat;
    background-size: 100%;
}
.bg-line-rt {
    position: absolute;
    top: 2.65rem;
    right: 1.4rem;
    width: 1.166rem;
    height: 0.092rem;
    background: url('../img/faceUI/icon_ssgw_you.png') no-repeat;
    background-size: 100%;
}

/* 访客 */
.visitor {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: .61rem;
    color: #FC224C;
    top: 2.4rem;
    /* left: 2.85rem; */
}
/* 提示信息 */
.prompt {
    position: absolute;
    color: #525A66;
    top: 10.25rem;
    left: 1.2rem;
    font-size: .388rem;
    line-height: .63rem;
    width: 7.6rem;
    margin: 0 auto;
    padding-top: .592rem;
}
.prompt span {
    line-height: 1rem;
}
/* 识别图像 */
.face {
    width: 5.583rem;
    height: 5.5rem;
    position: absolute;
    left: 2.2rem;
    top: 3.8rem;
   
}
.face-ring {
    animation: 10s rotate infinite linear;
    position: absolute;
    width: 5.5833rem;
    height: 5.5rem;
    background: url('../img/faceUI/img_ssgw_huan.png') no-repeat;
    background-color: 100% 100%; 
}
.face-bg {
    width: 4.6rem;
    height: 4.6rem;
    position: absolute;
    top: .45rem;
    left: .5rem;
    background: url('../img/faceUI/icon_shibai.png') no-repeat;
    background-size: 100% 100%; 
}
.face-img {
    width: 4.8rem;
    height: 4.8rem;
    position: absolute;
    top: .37rem;
    left: .37rem;
    border-radius: 50%;
}
 

.click-photo {

    font-size: .44rem;
    background-size: 100%;
    position: absolute;
    bottom: 1.5rem;
    left: 2.1rem;
    width: 5.8rem;
    height: 1.4rem;
    line-height: 1.4rem;
    background-color: #fff;
    border-radius: 8px;
    color: #FC224C;
}
.click-photo-fs {
    animation: 1.5s rainbow infinite;
    background: url('../img/facelayout/btn_kjcl_3%402x.png') no-repeat;
    background-size: 100%;
    color: #ee2063;
}
.closeDec {
    animation: 1.5s rainbow infinite;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 1.222rem;
    height: 1.2rem;
    background: url('../img/Group\ 7.png') no-repeat;
    background-size: 100%;
    z-index: 100;
}